@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
}
@layer utilities {
  .user-icon {
    cursor: pointer;
    position: relative;
  }
  .tooltip {
    transform: scaleY(0%);
    transform-origin: top;
    transition: transform ease-in;
  }
  .user-icon:hover .tooltip {
    transform: scaleY(100%);
  }
}
